body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-wrapper {
  width: 60%;
  margin: auto;
}

.heading {
  text-align: center
}

.site-footer {
  margin: auto;
  text-align: center;
  background: red;
  border: 1px dotted red;
}

.site-footer p {
  font-weight:bold;
}